.public-title {
  color: #3c4858;
  font-size: 65px;
}
.input-group-button:hover {
  color: #23c99d !important;
}
.progress-wrapper {
  position: relative;
  padding-top: 1.5rem;
}
.progress-label {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  color: #3c4858;
}
.progress-percentage {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}
.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #28ea68;
  transition: width 0.6s ease;
}
.token-status {
  max-width: 420px;
  margin: auto;
}
